/* CSS Document */
HTML, BODY, .h100 {
    height: 100%;
}
div.main{
    background: #efefef;
    border-radius: 7px;
    padding: 20px;
    font-size: 18px;
}
small{
    font-size: 13px;
}
.input1{
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    color: #363636;
    font-size: 24px;
    width: 618px;
    height: 50px;
    padding: 0 8px;
    text-align: center;
}
.input2{
    margin-top: 15px;
    font-size: 18px;
    color: #ffffff;
    padding: 0 15px 0 15px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

#my-slider {
    margin-top: 15px;
    border: #ffffff 1px solid;
    border-radius: 5px;
}
#drag-helper {
    border-radius: 5px;
}
label{
    width: 148px;
    display: inline-block;
    cursor: pointer;
    line-height: 48px;
    border: 1px #ffffff solid;
    border-radius: 5px;
    background-color: #dddddd;
}
#footer {
    padding: 30px 0 0 0;
}
#boxes {
    margin-top: 15px;
    padding: 1px 0 1px 0;
}
